@model Aqueduct.SpecDashboard.Models.AdminModel
@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("Dashboard", "Dashboard", "Home")
<div id="tabs">
    
    <ul>
		<li><a href="#userList">User List</a></li>
		<li><a href="#registerForm">Register Users</a></li>
	</ul>
    <div id="userList">
        <Legend>User List</Legend>
    
        <table class="adminTable">
            @foreach (var userModel in Model.UserModels)
            {
                <tr>
                    <td>@userModel.UserName</td>
                   
                    
                    @using (Html.BeginForm("ChangeParameters", "Admin"))
                    {
                         <input type="hidden" value="@userModel.UserName" name="username"/>
                        
                        foreach (var report in Model.ReportModel)
                        {
                            var selected = userModel.Roles.Select(x => x.ToLower()).Contains(report.Name) ? "checked=\"checked\"" : "";
                            <td><input type="checkbox" name="report" @Html.Raw(selected) value="@report.Name" />@report.Name</td>
                        }
                        <td> <button type="submit" name="SaveButton">Save</button></td>   
                    }
                    @using (Html.BeginForm("DeleteUser", "Admin"))
                    {
                        <input type="hidden" value="@userModel.UserName" name="username"/>
                        <td><button type="submit" name="DeleteUserButton" onclick="return confirm('Are you sure you want to delete user?')">Delete</button></td>
                    }
                    @using (Html.BeginForm("ResetPassword", "Admin"))
                    {
                        <input type="hidden" value="@userModel.UserName" name="username"/>
                        <td><button type="submit" name="ChangePasswordButton">Change Password</button></td>
                         
                    }
                </tr>
            }              
        </table>          
    </div>




    <div class="register" id="registerForm">
        <div><a href="../../Account/Register">Register</a></div>
    </div>
</div>

<script>
    $(function () {
        $("#tabs").tabs();
    });
	</script>