@model Aqueduct.SpecDashboard.Models.Report
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="reportWrapper">
    <div class="reportNavigation">
        <h3>
            Current version: @Model.Latest.Version from @Model.Latest.Date
        </h3>
        <ul>
            <li>
                @GetReportDocumentationLink(Model.Id, Model.Latest.Version)</li>
            <li>@GetSpecificationLink(Model.Id, Model.Latest.Version)</li>
        </ul>
        <h3>
            Previous versions</h3>
        @foreach (var version in @Model.Versions)
        {
            <div class="versionTitle">@version.Version from @version.Date</div>
            <ul>
                <li>@GetReportDocumentationLink(Model.Id, version.Version)</li>
                <li>@GetSpecificationLink(Model.Id, version.Version)</li>
            </ul>
        }
    </div>
    <div class="reportContents">
        <iframe id="reportFrame" width="100%" height="100%" src="/ReportsData/@Model.Id/@Model.Latest.Version/SpecificationsReport.html">
        </iframe>
    </div>
</div>
@helper GetReportDocumentationLink(string id, string version)
    {
    <a href="/ReportsData/@id/@version/Documentation/index.html" target="reportFrame">Documentation</a>
}
@helper GetSpecificationLink(string id, string version)
    {
    <a href="/ReportsData/@id/@version/SpecificationsReport.html" target="reportFrame">Specifications</a>   
}