@using Aqueduct.SpecDashboard.Models
@model IEnumerable<Aqueduct.SpecDashboard.Models.ReportViewModel>

<header style="background-color: black">
Aqueduct Automated Reports</header>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reports</h2>

@foreach (var report in Model)
{
    <div class="report">
        <div class="reportName">@Html.ActionLink(report.Name, "Index", "Report", new { id=report.Name}, null)</div>
        <span class="reportNo">@report.NumberOfTests Scenarios</span>
        <div>
            <span class="success">@report.Success Success</span>
            <span class="inconclusive">@report.Inconclusive Inconclusive</span>
            <span class="failed">@report.Failures Failed</span>
        </div>
        

            <span class=" percent @{ Write(report.PercentageSuccess >= 75
                                 ? "percentGreen"
                                 : (report.PercentageSuccess <= 33
                                        ? "percentRed"
                                        : "percentOrange"));
                         }">@report.PercentageSuccess%</span>
        

        <div class="statusBar">                 
            <div style="width:@report.PercentageSuccess%; background-color:greenyellow; height: 20px;"></div>
            <div style="width:@report.PercentageInconclusive% ; background-color:orange; height: 20px;"></div>
            <div style="width:@report.PercentageFailure%; background-color:red; height: 20px;"></div>
        </div>
        
        @GetStateIcon(report.StateChange)

        <span class="reportTime">Last Updated: @report.Date</span>
    </div>    
    
    
}
<footer style="background-color: black">
(c) copyright Aqueduct 2012</footer>


@helper GetStateIcon(ReportViewModel.ProjectStateChange stateChange)
{   <div class="arrow">
    @switch (stateChange)
    {
        case ReportViewModel.ProjectStateChange.Good:
            <img src="../../Content/images/Same_Arrow.png"/>
            break;
        case ReportViewModel.ProjectStateChange.Bad:
            <img src="../../Content/images/Down_Arrow.png"/>
            break;
        case ReportViewModel.ProjectStateChange.Neutral:
            <div class="neutral" style="background-color: black"></div>
            break;
        default:
            throw new ArgumentOutOfRangeException("stateChange");
    }
    </div>


}
